@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Nunito:ital,wght@1,300&display=swap');
body {
  margin: 0; 
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  background-color: var(--primaryColor);
  
}



h3,h4,h2 {
  font-family: 'Cormorant SC', serif;
}

:root {
  --primaryColor: #0F053F;
  --secondaryColor: #F6F7FF;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;

}

.imgRow{
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 5;
  padding-bottom: 0.5rem;
  top: 0;
}




.awardRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.awardRow>img{
  height: 6rem;
}
.buttonRow{
  display: flex;
  padding: 1rem 0rem;
  flex-direction: row;
  justify-content: center;
}
.navBar{
  padding: 20px;
  background-color: var(--primaryColor);
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  color:white;
  font-size: 24px;
  background-color: var(--primaryColor);
  justify-content: space-around;
}
.navBar>:first-child{
  margin-left: 25vw;
}
.navBar>:last-child{
  margin-right: 25vw;
}
.navBar>a{
  color: white;
  text-decoration: none;
}
.navitem:hover{
  color: #CFFAFE;
}

.galleryWrapper{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
}

.gallery {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  width: 90vw;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}

.galleryPosition {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;

}

.gallery>.active{
  width: 23vw;
}

.gallery>.activeRight{
  transform: translateX(23vw);
}

.gallery>.activeLeft{
  transform: translateX(-23vw);

}

.gallery>.inactive{
  /* transform: translateX(-24vw); */
  width: 0vw;
}

.galleryPosition>div{
  margin: 0.5rem;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  border: white 1px solid;
}

.galleryPosition>.active{
  /* transform: (translateX(23vw)); */
  background-color: white;
}

.gallery>img{
  transition: all 250ms;
  width: 23vw;
}

.showcases {
  background-color: white;
  color: var(--primaryColor);
}

.showcase{
  display: flex;
  flex-direction: row;
  margin: 0vw 12vw ;
  padding: 5vw 0;
}

.activeLeft {
  transform: translateX(-24vw);
}

.activeRight {
  transform: translateX(24vw);
}

.showcaseColumn>h3{
  margin-top: 0px;
}

.showcase>img{
  height: 25vw;
  margin: 0 2vw;
}

.showcase>.showcaseColumn>button{
  font-size: 14px;
  padding: 0.5rem 1rem;
}
.showcase>.showcaseColumn>button:hover{
background-color: white;
border: 1px solid var(--primaryColor)
}

.vidContainer{

}


.video {
}
#content {

}

.aboutRow {
  margin-left: 0 5%;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--primaryColor);
  color:white;
  justify-content: center;
  align-items: center;
  border-top: white 1px solid;
  padding-bottom: 16.5rem;
}

.largeLogoContainer{
  margin: 2rem;
}

.footer>.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  margin: 15px;
  padding: 0.5rem 1.5rem;
  border: solid white 1px;
  color: white;
  background-color: var(--primaryColor);
  font-size: 18px;
}

button:hover {
  color: var(--primaryColor);
  background-color: white;
  border: 1px var(--primaryColor) solid;
}

.squareBtn {
  padding: 10px;
  margin: 10px;
  border: white solid 1px;
  background-color: var(--primaryColor);
}

.squareBtn:hover {
  background-color: #3F3765;
}

.hello {
    color: white;
    font-size: 32px;
    background-color: var(--primaryColor);
    font-family: 'Cormorant SC', serif;
    /* font-family: 'Nunito', sans-serif; */
  }


